body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#input-el {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  border: 3px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-bottom: 1rem;
}

#input-el:hover,
#input-el:active {
  border-color: #2196f3;
}

#input-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(45deg, #4caf50, #2196f3);
  transition: 0.3s ease;
}

ul {
  margin-top: 10px;
  padding-left: 0;
  width: 90%;
}
li {
  list-style: disc;
  padding-left: 1rem;
  font-size: 16px;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: #2196f3;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #1565c0;
}

button {
  cursor: pointer;
}

button:hover {
  filter: brightness(50%);
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#delete-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(45deg, #ff5252, #d50000);
  transition: 0.3s ease;
}

#tab-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(45deg, #4caf50, #2196f3);
  transition: 0.3s ease;
}
